* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --primary-color: #539fc3;
    --secondary-color: #198fc7;
    --background-color: #ffffff;
    --text-color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;

    a.link-whatsapp {
        z-index: 11;
        border-radius: 50%;
        color: white;
        position: fixed;
        bottom: 15px;
        right: 15px;
        text-decoration: none;
        
        img {
            width: 45px;
            height: 45px;
            object-fit: cover;
            transition: transform .4s ease-in-out;
            animation: move ease-in-out infinite;
            animation-duration: 4s;
            animation-delay: 2s;
            &:hover {
                animation: none;
                transform: scale(1.1);
            }
        }
    }

    .section-banner {
        margin-top: 60px;
        width: 100%;

        .banner {
            .imagen {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    h2, h1 {
        text-align: center;
        font-weight: bold;
        color: var(--secondary-color);
        text-transform: uppercase;
    }

    #mainTittle {
        margin: 40px 0 40px 0;
    }

    .carousel {
        width: 100vw;
        .slide {
            .carousel-indicators {
                buttom {
                    z-index: 2;
                }
            }
            .carousel-inner {
                .carousel-item {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

@media screen and (width >= 820px) and (width <= 1000px) {

    body {

        h1 {
            margin-top: 40px;
            font-size: 2.5rem;
        }

        h1#mainTittle {
            margin: 120px 0 !important;
            font-size: 3.5rem;
        }

        a.link-whatsapp {
            position: fixed;
            right: 40px;
            bottom: 40px;
            scale: 1.5;
        }
        
        .section-banner {
            margin-top: 80px;
        }

        h2 {
            font-size: 2.5rem;
        }
    }

    .main-header {
        height: 80px;
        font-size: 1rem;
        font-weight: 700;

        .logo {
            padding-left: 10px;
        }

        .user-info {
            margin-left: auto;
            .cart-container {
                i {
                    font-size: 2.5rem;
                }
            }

            .picture-container {
                display: flex;
            }
        }

        .burger-container {
            display: none;
        }

        .main-nav {
            position: static;
            width: auto;
            margin-left: auto;

            .nav-list {
                display: flex;
                padding: 0;
                height: 100%;

                .nav-item {
                    display: flex;

                    a.nav-link {
                        display: flex !important;
                        align-items: center;
                    }
                }
            }
        }
    }

    .main-footer {
        flex-direction: column;

        .footer-1 {
            .footer-social {
                border-bottom: 2px solid #cc22b6;
                
                h3 {
                    margin: 3rem 0;
                }
            }
    
            .footer-brand {
                
                padding-bottom: 2rem;
                border-bottom: 2px solid #cc22b6;
    
                h3 {
                    margin: 3rem 0;
                }
                
                .image {
                    height: 100px;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
    
            .footer-info {
                display: flex;
                flex-direction: column;
    
                h3 {
                    margin: 3rem 0;
                }
    
                .container {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: center;
                }
            }
        }
    }
}

@media screen and (width >= 1001px) and (width <= 1200px) {

    .main-header {
        font-size: 18px;
        font-weight: 700;
        height: 100px;

        .logo {
            padding-left: 10px;
        }

        .user-info {
            margin-left: 0;
            .cart-container {
                i {
                    font-size: 2.5rem;
                }
            }

            .picture-container {
                display: flex;
                margin-right: 20px;
            }
        }

        .burger-container {
            display: none;
        }

        .main-nav {
            position: static;
            width: auto;

            .nav-list {
                display: flex;
                padding: 0;
                height: 100%;

                .nav-item {
                    display: flex;

                    a.nav-link {
                        display: flex !important;
                        align-items: center;
                    }
                }
            }
        }
    }

    body {
        .section-banner {
            margin-top: 120px;
        }
        a.link-whatsapp {
            scale: 1.5;
            right: 40px;
            bottom: 40px;
        }
    }

    .main-footer {
        flex-direction: column;

        .footer-1 {
            .footer-social {
                border-bottom: 2px solid #cc22b6;
                
                h3 {
                    margin: 3rem 0;
                }
            }
    
            .footer-brand {
                
                padding-bottom: 2rem;
                border-bottom: 2px solid #cc22b6;
    
                h3 {
                    margin: 3rem 0;
                }
                
                .image {
                    height: 100px;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
    
            .footer-info {
                display: flex;
                flex-direction: column;
    
                h3 {
                    margin: 3rem 0;
                }
    
                .container {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: center;
                }
            }
        }
    }
}

@media screen and (width > 1200px) {

    .main-header {
        font-size: 1rem;
        font-weight: 700;
        height: 80px;
        .user-info {
            margin-left: 0;
            .cart-container {
                i {
                    font-size: 2.5rem;
                }
            }

            .picture-container {
                display: flex;
                margin-right: 20px;
            }
        }

        .burger-container {
            display: none;
        }

        .main-nav {
            position: static;
            width: auto;

            .nav-list {
                display: flex;
                padding: 0;
                height: 100%;

                .nav-item {
                    display: flex;

                    a.nav-link {
                        display: flex !important;
                        align-items: center;
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    .main-footer {
        font-size: 2rem;
        flex-direction: column;

        .footer-1 {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: baseline;
            
            .footer-social {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                gap: 170px;
                padding: 0 4rem;
            }
            .footer-brand {
                order: -1;
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                gap: 170px;
                border-right: 2px solid var(--secondary-color);

                h3 {
                    padding: 10px 20px;
                }

                img {
                    scale: 2;
                }
            }
            .footer-info {
                flex-grow: 1;
                order: -1;
                padding: 0;
                border-right: 2px solid var(--secondary-color);
                h3 {
                    color: var(--secondary-color);
                    padding: 10px;
                }
                .info {
                    .name, .mision-vision, .horario {
                        background-color: var(--secondary-color) !important;
                        h4 {
                            margin-bottom: 30px;
                        }
                    }
                    .name {
                        border-radius: 20px 20px 0 0;
                        border-bottom: 1px solid black;
                    }
                    .mision-vision {
                        border-bottom: 1px solid black;
                    }
                }
            }
        }
    }

    body {
        a.link-whatsapp {
            scale: 1.5;
            right: 40px;
            bottom: 40px;
        }
        .section-banner {
            margin-top: 80px;
        }
        h1 {
            margin-top: 220px;
            margin-bottom: 20px;
        }
        h1#mainTittle {
            margin: 120px 0 !important;
            font-size: 3.5rem;
        }
        h2 {
            font-size: 2.5rem;
        }
    }
}

